{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	{% if post is not defined %}
		{% set post = page %}
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col">
				<article>
					<div class="info-text-section mt-3">
						<div class="col p-0 mb-3">
							{% for category in post.categories %}
								<a class="category-link" href="{{ category.url }}">{{ category.title }}</a>
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</div>
						<h1 class="article-header">{{ post.getTitle()|raw }}</h1>
						<p class="info-text-lead mt-4">{{ post.lead|raw }}</p>
						{% if post.hasFeaturedFilm() != true %}
							{% if post.content_wo_lead|raw != "" %}
								{% include "Page/TopImage.html.twig" %}
							{% endif %}
						{% endif %}
						<div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
							<div class="col m-auto pt-2">
								{% for author in authors %}
									{% embed "Post:madeby.html.twig"|UKMpath %}{% endembed %}
									<div class="clearfix"></div>
								{% endfor %}
								{% if post.getMeta('type') == 'workshop' and post.hasMeta('sted') is defined %}
									<b>STED:</b>
									{{ post.getMeta('sted') }}
								{% else %}
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width=".8rem" height=".8rem" viewbox="0 0 24 24" style="margin-right: .3rem;fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
										<path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z"></path>
										<path d="M13 7L11 7 11 13 17 13 17 11 13 11z"></path>
									</svg>
									<span class="article-date" style="font-weight: 500">
										{{ post.date|dato('j. M Y') }}
									</span>
								{% endif %}
							</div>

							<div class="col share-buttons col-xl-3 d-flex justify-content-around d-block d-lg-none">
								<a class="share-btn fb-share" id="facebookShareButton" href="#">
									<span class="article-svg dot dot-grey-large share-dot">
										<span class="article-svg dot svg-dot svg-dot-large">
											<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
												<path d="M12.001,2.002c-5.522,0-9.999,4.477-9.999,9.999c0,4.99,3.656,9.126,8.437,9.879v-6.988h-2.54v-2.891h2.54V9.798 c0-2.508,1.493-3.891,3.776-3.891c1.094,0,2.24,0.195,2.24,0.195v2.459h-1.264c-1.24,0-1.628,0.772-1.628,1.563v1.875h2.771 l-0.443,2.891h-2.328v6.988C18.344,21.129,22,16.992,22,12.001C22,6.479,17.523,2.002,12.001,2.002z"></path>
											</svg>
										</span>
									</span>
								</a>
								<a href="mailto:?subject={{post.getTitle()|raw}}&amp;body=" {{post.url()}} title="Share by Email" class="share-btn" href="#">
									<span class="article-svg dot dot-grey-large share-dot">
										<span class="article-svg dot svg-dot svg-dot-large">
											<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
												<path d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z"></path>
											</svg>
										</span>
									</span>
								</a>
								<a class="share-btn kopierUrl" href="#">
									<span class="article-svg dot dot-grey-large share-dot">
										<span class="article-svg dot svg-dot svg-dot-large">
											<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
												<path d="M4.222 19.778c.975.975 2.255 1.462 3.535 1.462 1.281-.001 2.562-.487 3.536-1.462l2.828-2.829-1.414-1.414-2.828 2.829c-1.169 1.167-3.072 1.169-4.243 0-1.169-1.17-1.169-3.073 0-4.243l2.829-2.828L7.051 9.879l-2.829 2.828C2.273 14.656 2.273 17.829 4.222 19.778zM19.778 11.293c1.948-1.949 1.948-5.122 0-7.071-1.95-1.95-5.123-1.948-7.071 0L9.879 7.051l1.414 1.414 2.828-2.829c1.17-1.167 3.073-1.169 4.243 0 1.169 1.17 1.169 3.073 0 4.243l-2.829 2.828 1.414 1.414L19.778 11.293z"></path>
												<path transform="rotate(-134.999 12 12)" d="M11 5.999H13V18H11z"></path>
											</svg>
										</span>
									</span>
								</a>
								<div class="url" style="display:none;">
									<input type="text" class="urlInput form-control" value="{{post.url()}}" readonly/>
									<div class="copied alert alert-light" style="display:none;">Kopiert!</div>
								</div>
							</div>
						</div>
						{% if post.content_wo_lead|raw != "" %}
							<div class="row">
								<div class="col share-buttons col-xl-1 justify-content-around mt-5 d-none d-sm-flex" style="flex-direction: column; height:7rem;">
									<a class="share-btn fb-share" id="facebookShareButton" href="#">
										<span class="article-svg dot dot-grey-large share-dot">
											<span class="article-svg dot svg-dot svg-dot-large">
												<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
													<path d="M12.001,2.002c-5.522,0-9.999,4.477-9.999,9.999c0,4.99,3.656,9.126,8.437,9.879v-6.988h-2.54v-2.891h2.54V9.798 c0-2.508,1.493-3.891,3.776-3.891c1.094,0,2.24,0.195,2.24,0.195v2.459h-1.264c-1.24,0-1.628,0.772-1.628,1.563v1.875h2.771 l-0.443,2.891h-2.328v6.988C18.344,21.129,22,16.992,22,12.001C22,6.479,17.523,2.002,12.001,2.002z"></path>
												</svg>
											</span>
										</span>
									</a>
									<a href="mailto:?subject={{post.getTitle()|raw}}&amp;body=" {{post.url()}} title="Share by Email" class="share-btn" href="#">
										<span class="article-svg dot dot-grey-large share-dot">
											<span class="article-svg dot svg-dot svg-dot-large">
												<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
													<path d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z"></path>
												</svg>
											</span>
										</span>
									</a>
									<a class="share-btn kopierUrl" href="#">
										<span class="article-svg dot dot-grey-large share-dot">
											<span class="article-svg dot svg-dot svg-dot-large">
												<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
													<path d="M4.222 19.778c.975.975 2.255 1.462 3.535 1.462 1.281-.001 2.562-.487 3.536-1.462l2.828-2.829-1.414-1.414-2.828 2.829c-1.169 1.167-3.072 1.169-4.243 0-1.169-1.17-1.169-3.073 0-4.243l2.829-2.828L7.051 9.879l-2.829 2.828C2.273 14.656 2.273 17.829 4.222 19.778zM19.778 11.293c1.948-1.949 1.948-5.122 0-7.071-1.95-1.95-5.123-1.948-7.071 0L9.879 7.051l1.414 1.414 2.828-2.829c1.17-1.167 3.073-1.169 4.243 0 1.169 1.17 1.169 3.073 0 4.243l-2.829 2.828 1.414 1.414L19.778 11.293z"></path>
													<path transform="rotate(-134.999 12 12)" d="M11 5.999H13V18H11z"></path>
												</svg>
											</span>
										</span>
									</a>
									<div class="url" style="display:none;">
										<input type="text" class="urlInput form-control" value="{{post.url()}}" readonly/>
										<div class="copied alert alert-light" style="display:none;">Kopiert!</div>
									</div>
								</div>
							{% endif %}
							<div class="col-xl-9">
								<p class="bread-text">{{ post.content_wo_lead|raw }}</p>
							</div>
						</div>
					</div>
					{% if post.hasFeaturedFilm()%}
						{% if post.content_wo_lead|raw == "" %}
							{% include "Page/TopImage.html.twig" %}
						{% endif %}
					{% endif %}
				</article>
			</div>
		</div>
	</div>
	{% if post.content_wo_lead|raw != "" %}
		<div class="row">
			<div class="col share-buttons col-xl-3 d-flex justify-content-around m-5 d-block d-lg-none">
				<a class="share-btn fb-share" id="facebookShareButton" href="#">
					<span class="article-svg dot dot-grey-large share-dot">
						<span class="article-svg dot svg-dot svg-dot-large">
							<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
								<path d="M12.001,2.002c-5.522,0-9.999,4.477-9.999,9.999c0,4.99,3.656,9.126,8.437,9.879v-6.988h-2.54v-2.891h2.54V9.798 c0-2.508,1.493-3.891,3.776-3.891c1.094,0,2.24,0.195,2.24,0.195v2.459h-1.264c-1.24,0-1.628,0.772-1.628,1.563v1.875h2.771 l-0.443,2.891h-2.328v6.988C18.344,21.129,22,16.992,22,12.001C22,6.479,17.523,2.002,12.001,2.002z"></path>
							</svg>
						</span>
					</span>
				</a>
				<a href="mailto:?subject={{post.getTitle()|raw}}&amp;body=" {{post.url()}} title="Share by Email" class="share-btn" href="#">
					<span class="article-svg dot dot-grey-large share-dot">
						<span class="article-svg dot svg-dot svg-dot-large">
							<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
								<path d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z"></path>
							</svg>
						</span>
					</span>
				</a>
				<a class="share-btn kopierUrl" href="#">
					<span class="article-svg dot dot-grey-large share-dot">
						<span class="article-svg dot svg-dot svg-dot-large">
							<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
								<path d="M4.222 19.778c.975.975 2.255 1.462 3.535 1.462 1.281-.001 2.562-.487 3.536-1.462l2.828-2.829-1.414-1.414-2.828 2.829c-1.169 1.167-3.072 1.169-4.243 0-1.169-1.17-1.169-3.073 0-4.243l2.829-2.828L7.051 9.879l-2.829 2.828C2.273 14.656 2.273 17.829 4.222 19.778zM19.778 11.293c1.948-1.949 1.948-5.122 0-7.071-1.95-1.95-5.123-1.948-7.071 0L9.879 7.051l1.414 1.414 2.828-2.829c1.17-1.167 3.073-1.169 4.243 0 1.169 1.17 1.169 3.073 0 4.243l-2.829 2.828 1.414 1.414L19.778 11.293z"></path>
								<path transform="rotate(-134.999 12 12)" d="M11 5.999H13V18H11z"></path>
							</svg>
						</span>
					</span>
				</a>
				<div class="url" style="display:none;">
					<input type="text" class="urlInput form-control" value="{{post.url()}}" readonly/>
					<div class="copied alert alert-light" style="display:none;">Kopiert!</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
