{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	{% include "Page/TopImage.html.twig" %}

	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
					<div class="row postmeta">
						<div class="col">
							{% if post.getMeta('type') == 'workshop' and post.hasMeta('sted') is defined %}
								<b>STED: </b>
								{{ post.getMeta('sted') }}
							{% else %}
								{{ post.date|dato('d.m.Y') }}{#~ ' kl. '~ post.date|dato('H:i') }}#}
							{% endif %}
						</div>
						<div class="col right">
							{% for category in post.categories %}
								<a href="{{ category.url }}">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
							{% endfor %}
						</div>
					</div>
					<h1>{{ post.getTitle()|raw }}</h1>
					<p class="lead">{{ post.lead|raw }}</p>
					
					<div class="d-block d-md-none center" style="margin-bottom: 1em;">
						{% include "Facebook/Count.html.twig" with {'url': post.url} %}
					</div>
	
					<p>{{ post.content_wo_lead|raw }}</p>
				</article>
				
				{# CUSTOM WORKSHOP STUFF BRUKT PÅ FESTIVALEN #}
				
				{# E.O CUSTOM WORKSHOP STUFF BRUKT PÅ FESTIVALEN #}
			</div>
			
			<div class="col-md-2 col-lg-3 float-right">
				<div class="madeby">
					<div class="row">
						<div class="col">
							{% for author in authors %}
								{% embed "Post:madeby.html.twig"|UKMpath %}{% endembed %}
								<div class="clearfix"></div>
							{% endfor %}
							<div class="float-right right my-1" style="margin-left: 1em; margin-bottom: 1em;">
								{% include "Facebook/Count.html.twig" with {'url': post.url} %}
							</div>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}