{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	{% if post is not defined %}
		{% set post = page %}
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col">
				<article>
					{# Category, title and breadtext #}
					<div class="info-text-section mt-3">
						<div class="col p-0 mb-3">
							{% for category in post.categories %}
								<a class="category-link" href="{{ category.url }}">{{ category.title }}</a>
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</div>
						<h1 class="article-header">{{ post.getTitle()|raw }}</h1>
						<p class="info-text-lead mt-4">{{ post.lead|raw }}</p>
						{% if post.hasFeaturedFilm() != true %}
							{% include "Page/TopImage.html.twig" %}
						{% endif %}
						<div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
							<div class="col m-auto pt-2">
								{% for author in authors %}
									{% embed "Post:madeby.html.twig"|UKMpath %}{% endembed %}
									<div class="clearfix"></div>
								{% endfor %}
								{% if post.getMeta('type') == 'workshop' and post.hasMeta('sted') is defined %}
									<p>
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path></svg>
										<b>STED:</b>
										{{ post.getMeta('sted') }}
									</p>
									{% if post.getMeta('dato') %}
									<p>
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
										<b>TID:</b>
									{{ post.getMeta('dato') }}
									</p>
									{% endif %}
									
								{% else %}
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width=".8rem" height=".8rem" viewbox="0 0 24 24" style="margin-right: .3rem;fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
										<path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z"></path>
										<path d="M13 7L11 7 11 13 17 13 17 11 13 11z"></path>
									</svg>
									<span class="article-date" style="font-weight: 500">
										{{ post.date|dato('j. M Y') }}
									</span>
								{% endif %}
							</div>

							{# Social media share buttons #}
							<div class="share-line-horizontal {{ post.getMeta('type') == 'workshop' ? 'workshop-social-media' : '' }}">
								<div class="col-2 share-buttons d-flex justify-content-around">
									{% include "Post/Share.html.twig" %}
								</div>
							</div>
							{% if post.hasFeaturedFilm() == true %}
								<div class="col-2 share-buttons justify-content-around d-none d-lg-flex">
									{% include "Post/Share.html.twig" %}
								</div>
							{% endif %}
						</div>
						{# Has content and not a video #}
						{% if post.content_wo_lead|raw != "" %}
							<div class="row">
								<div class="share-line-vertical">
									<div class="col share-buttons col-xl-1 justify-content-around">
										{% include "Post/Share.html.twig" %}
									</div>
								</div>
							{% endif %}
							<div class="col-md-9 col-xl-9">
								<p class="bread-text">{{ post.content_wo_lead|raw }}</p>
							</div>
						</div>
					</div>
					{# Video under header for prettier layout imo #}
					{% if post.hasFeaturedFilm()%}
						{% if post.content_wo_lead|raw == "" %}
							{% include "Page/TopImage.html.twig" %}
						{% endif %}
					{% endif %}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
