<a href="{{post.url}}">
	<div class="news-case ukm-card ukm-card-front ukm-card-front-main col-xs-12">
		<div class="row card-element card-element-end mt-3">
			<div class="card-image card-news">
				{% if post.image.medium.src %}
					<img class="artikkel-img" src='{{ post.image.medium.src }}' />
				{% endif %}
				{% if post.meta.video_on_top is defined and post.meta.video_on_top is not empty %}
					<img src="{{ UKMasset('img/circle-play.png') }}" class="featured-image-play"/>
				{% endif %}
				{% if post.image.medium.src is not defined %}
					<img class="card-image card-news" src="//assets.{{ UKM_HOSTNAME }}/img/bilde.png"/>
				{% endif %}
			</div>
			<div class="col pr-0 d-flex flex-wrap align-items-center">
				<div class="card-body news-body">
					<span class="card-text">{{ post.getCategories() is empty ? 'ukategorisert' : post.getCategories() }}</span>
					<span class="card-text">{{ post.getTitle() }}</span>
					<p class="card-text truncate-overflow">{{ post.lead }}</p>
				</div>
			</div>
		</div>
	</div>
</a>