{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}


{% block css %}
	<style>
		h2.fylke {
			background-color: #00004c;
			color: #fff;
			padding: 0.5em;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container sitemap">
		<div class="row">
			<div class="col-12"> 
				<h1>{{ page.getTitle() }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{ page.getContent()|raw }}
			</div>
		</div>

		{% for fylke in fylker %}
			<div class="row">
				<div class="col-12">
					<h2 class="fylke">{{ fylke.getNavn() }}</h2>

					<ol class="list-group">
						{% set count_fylke = 0 %}
						{% for arrangement in fylke.getNettverkOmrade().getAktuelleArrangementer().getAll()|filter( arrangement => arrangement.getMetaValue('avlys') ) %}
							{% set count_fylke = count_fylke + 1 %}
							<li class="list-group-item">
								<div class="float-right">
									<a href="{{ arrangement.getLink() }}?expandinfo" class="btn btn-sm btn-outline-primary">Mer info</a>
								</div>
								{{ arrangement.getNavn() }}:
								{% include "Arrangement/Avlyst-status.html.twig" %}
								<p class="small mt-0 mb-0">
									{{ arrangement.getMetaValue('avlys_status_kort') }}
								</p>
								<div class="clearfix"></div>
							</li>
						{% endfor %}
                        {% set count_kommune = 0 %}
                        {% for arrangement in arrangementLoader.iFylke(fylke).getAll()|filter( arrangement => arrangement.getMetaValue('avlys') ) %}
                            {% set count_kommune = count_kommune + 1 %}
                            <li class="list-group-item">
                                <div class="float-right">
                                    <a href="{{ arrangement.getLink() }}?expandinfo" class="btn btn-sm btn-outline-primary">Mer info</a>
                                </div>
                                <small class="bold text-muted" style="text-transform: uppercase">
                                    {% if arrangement.erFellesmonstring() %}
                                        {{ arrangement.getKommuner().getAll()|join(', ') }}
                                    {% else %}
                                        {{ arrangement.getKommune().getNavn() }}
                                    {% endif %}
                                </small><br />
                                {{ arrangement.getNavn() }}:
                                {% include "Arrangement/Avlyst-status.html.twig" %}
                                <p class="small mt-0 mb-0">
                                    {{ arrangement.getMetaValue('avlys_status_kort') }}
                                </p>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}

						{% if count_fylke == 0 and count_kommune == 0 %}
							<li class="list-group-item">
								Alle arrangement går som planlagt.
							</li>
						{% elseif count_fylke == 0 %}
							<li class="list-group-item">
								Alle fylkets arrangementer går som planlagt.
							</li>
						{% elseif count_kommune == 0 %}
							<li class="list-group-item">
								Alle lokalarrangement går som planlagt.
							</li>
						{% endif %}
					</ol>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
