{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	<style>
		.topimage-xs {
			padding-bottom: 33%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-left: -0.4em;
		}
	</style>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>{{ hendelse.getNavn() }}</h1>
				<p class="lead">{{ hendelse.getStart()|dato('l j.M H:i')|capitalize }},
					{{ hendelse.getSted() }}</p>
                {% include "Arrangement/Program/Direktesending.html.twig" %}

				<p>{{ kategori.description|raw }}</p>

				{% if hendelse.getBeskrivelse() is not empty %}
					<p>{{ hendelse.getBeskrivelse()|nl2br }}</p>
				{% endif %}

				<div class="container category-page">
						{% embed "Kategori:Listen.html.twig"|UKMpath %}{% endembed %}
						{# {% embed "Kategori:Pagination.html.twig"|UKMpath %}{% endembed %} #}
					</div>

				<p class="my-4">
					<a href="../">Tilbake til rammeprogrammet</a>
				</p>
			</div>
		</div>

	</div>
{% endblock %}
