{# <pre>
{{ dump(program) }}
</pre> #}

{# {% for dag in program %}
<p>a: {{ dag.date|date }}</p>
{% endfor %} #}

{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block javascripts %}
	{{ parent() }}
	<script src="//assets.{{ UKM_HOSTNAME }}/js/page/program.js" ></script>
{% endblock %}

{% block content %}

    {% set dag = '' %}
    {% set timeNow = 'now'|date('U') %}
    <div class="row program-enkel-visning-header">
        {# START - Left #}
    
    {% for hendelser in hendelserDato %}

        {% for hendelse in hendelser %}
            {% if hendelse.erSynligRammeprogram() %}

                {% set right = false %}
                {% set startDato = hendelse.getStart()|date('U') %}
                {% set finishDato = startDato + hendelse.getTid().getSekunder() %}

                {% if hendelse.getStart()|dato('l') != dag %}
                    {% set dag = hendelse.getStart()|dato('l') %}
                    <div class="point dag empty"></div>
                    <div class="point empty dag"><span>{{ dag }}</span></div>
                {% endif %}
                <div class="point col-6">
                    
                    {% set isNow = timeNow > startDato and timeNow < finishDato %}
                    <div class="box-innslag {{ not isNow and (timeNow - 7200) > startDato ? 'tidligere' : ''  }}">
                        {# <a href="/festivalen/program/{{ hendelse.getId() }}"> #}
                        {% if isNow %}
                            <div class="timeline-point now"><div class="blinking"></div></div>
                            <div class="time">Nå</div>
                        {% else %}
                            <div class="timeline-point"><div class="blinking"></div></div>
                            <div class="time">{{ hendelse.getStart()|date()|timeago }}</div>
                        {% endif %}

                            <h4 class="title center">{{ hendelse.getNavn() }}</h4>
                            
                            <div class="sted center">
                                <div class="sted-btn collapsed" data-toggle="collapse" data-target="#collapseVisVei{{ hendelse.getId() }}" aria-expanded="false" aria-controls="collapseVisVei{{ hendelse.getId() }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #00004B; transform: ;msFilter:;"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path></svg>
                                    {{ hendelse.getSted() }}
                                </div>
                                <div class="button-live-style collapse" id="collapseVisVei{{ hendelse.getId() }}">
                                    <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ hendelse.getSted() }} Trondheim">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 28 26" style="fill: #00004b; transform: ;msFilter:;"><path d="m2.295 12.707 8.978 9c.389.39 1.025.391 1.414.002l9.021-9a1 1 0 0 0 0-1.416l-9.021-9a.999.999 0 0 0-1.414.002l-8.978 9a.998.998 0 0 0 0 1.412zm6.707-2.706h5v-2l3 3-3 3v-2h-3v4h-2v-6z"></path></svg>
                                        <span>Veibeskrivelse</span>
                                    </a>
                                </div>
                            </div>
                            
                            {% if hendelse.getBeskrivelse()|length > 0 %}
                                <div class="beskrivelse">
                                    <span>{{ hendelse.getBeskrivelse() }}</span>
                                </div>
                            {% endif %}

                            {% if hendelse.harSending() %}
                                <div class="button-live-style">
                                    <a href="/festivalen/direkte/) }}">
                                        <span class="icon icon-video" style="font-size: 1.1em;"></span>
                                        <span>Direktesendes</span>
                                    </a>
                                </div>
                            {% endif %}
            
                            <div class="deltakere collapse" id="collapse{{ hendelse.getId() }}">
                                {% for innslag in hendelse.getInnslag().getAll() %}
                                    <h5 class="innslag-navn">{{ innslag.getNavn() }}</h5>
                                    {% for person in innslag.getPersoner().getAll() %}
                                        <div class="deltaker">
                                            <svg class="sm-size-icon" xmlns="http://www.w3.org/2000/svg" width="15" height="15" style="fill: #00004b; transform: ;msFilter:;" viewBox="0 0 24 24"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #00004b; transform: ;msFilter:;" viewBox="0 0 24 24"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                                            <span>{{ person.getNavn() }} </span>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>

                            {# Har innslag og hendelse er ikke koblet mot kategori fra WP posts (kategori brukes for å bruke hendelse på workshops) #}
                            {% if hendelse.getInnslag().getAntall() > 1 and hendelse.getType() != 'category' %}
                                <div class="alle-deltakere-div">
                                    <button class="vis-alle-deltakere standard-btn btn-large collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ hendelse.getId() }}" aria-expanded="false" aria-controls="collapse{{ hendelse.getId() }}">
                                        <span class="icon-chevron">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m12 6.879-7.061 7.06 2.122 2.122L12 11.121l4.939 4.94 2.122-2.122z"></path></svg>
                                        </span>
                                    </button>
                                </div>
                            {% endif %}

                            {# Workshops #}
                            {% if hendelse.getType() == 'category' %}
                                <div class="deltakere collapse" id="collapseWshops{{ hendelse.getId() }}">
                                    <h4>Workshops:</h4>
                                    {% for wshop in hendelse.getWorkshops()|sort((a, b) => a.getMeta('rekkefolge') ? a.getMeta('rekkefolge') : 0 <=> b.getMeta('rekkefolge') ? b.getMeta('rekkefolge') : 0 ) %} 
                                        <a class="wshop-href" target="_blank" href="{{ wshop.url }}">
                                            <h5 class="innslag-navn">{{ wshop.getTitle() }}</h5>
                                            <div class="deltaker">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26 26" style="fill: #00004B; transform: ;msFilter:;"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path></svg>
                                                    <b>STED:</b>
                                                    <span>
                                                        {{ wshop.getMeta('sted') }}
                                                    </span>
                                                </div>
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 28" style="fill: #00004B; transform: ;msFilter:;"><path d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z"></path></svg>
                                                    <b>TID:</b>
                                                    <span>
                                                        {{ wshop.getMeta('dato') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>

                                <div class="alle-deltakere-div">
                                    <button class="vis-alle-deltakere standard-btn btn-large collapsed" type="button" data-toggle="collapse" data-target="#collapseWshops{{ hendelse.getId() }}" aria-expanded="false" aria-controls="collapseWshops{{ hendelse.getId() }}">
                                        <span class="icon-chevron">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m12 6.879-7.061 7.06 2.122 2.122L12 11.121l4.939 4.94 2.122-2.122z"></path></svg>
                                        </span>
                                    </button>
                                </div>
                        {% endif %}
                            
                        </a>
                    </div>
                </div>
                {% if right == false %}
                    <div class="point col-6 empty"></div>
                    <div class="point col-6 empty"></div>

                    {% set right = true %}    
                {% else %}
                    {% set right = false %}    
                {% endif %}

            {% endif %}
        {% endfor %}
    {% endfor %}

    </div>


    <style>
        .live-program-info {
            visibility: none;
            display: none;
        }
        .program-enkel-visning-header {
            background: #00004B;
            padding: 100px 0;
        }
        .point {
            height: auto;
            min-height: 300px;
            padding: 30px;
            display: flex;
        }
        .point.dag {
            border: none !important;
            width: 10%;
            padding: 0;
            min-height: 30px !important;
        }
        .point.dag span {
            color: #fff !important;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            box-shadow: 1px 1px 19px 30px #00004B;
            z-index: 1;
            background: #00004B;
        }
        .point.dag:nth-child(odd) {
            margin-left: 40%;
            text-align: right;
        }
        .point.dag:nth-child(even) {
            margin-right: 40%;
        }
        .point.empty {
            min-height: 70px;
        }
        .point:nth-child(odd) {
            border-right: 1px dashed #4b546f;
        }
        .point:nth-child(even) {
            border-left: 1px dashed #4b546f;
        }
        .point .box-innslag.tidligere {
            opacity: .4;
            transition: .2s opacity;
        }
        .point .box-innslag.tidligere:hover,
        .point .box-innslag.tidligere:active {
            opacity: 1;
            transition: .2s opacity;
        }
        .point .box-innslag {
            position: relative;
            height: auto;
            width: 100%;
            max-width: 400px;
            min-height: 100px;
            margin: auto;
            margin-top: 40px;
            border-radius: 5px;
            background: #fff;
            color: #00004B;
            padding: 20px;
        }
        .point .box-innslag a {
            text-decoration: none;
            color: #00004B;
        }
        .point .box-innslag:hover {
            box-shadow: 0px 0px 7px 1px #ffffff94;
        }
        .point .box-innslag::after {
            position: absolute;
            content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgb(255, 255, 255); transform: ;msFilter:;'><path d='m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z'></path></svg>");
            height: 10px;
            width: 10px;
            top: 13px;
        }
        .point:nth-child(even) .box-innslag::after {
            left: -15px;
        }
        .point:nth-child(odd) .box-innslag::after {
            left: auto;
            right: 0;
            margin-right: -15px;
            transform: rotate(180deg);
            top: 25px;
        }
        .point:nth-child(even) .box-innslag {
            margin-left: 0;
        }
        .point:nth-child(odd) .box-innslag {
            margin-right: 0;
        }
        .point .box-innslag .timeline-point {
                height: 25px;
                width: 25px;
                background: #00004B !important;
                position: absolute;
                top: 10px;
                left: -44px;
                border-radius: 50%;
                border: dashed 2px #4b546f;
                z-index: 1;
                overflow: hidden;
        }
        .point .box-innslag .title {
            font-size: 30px;
            margin-top: 20px;
        }
        .point .box-innslag .sted {
            font-size: 12px;
            margin-bottom: 30px;
        }
        .point .box-innslag .timeline-point.now .blinking {
            background: #008000 !important;
            animation: blinker 2s cubic-bezier(0, 1.98, 0.32, 1.28) infinite;
            height: 80%;
            width: 80%;
            border-radius: 50%;
            margin: 2px;
            box-shadow: 0px 0px 6px 1px green;
            border: solid 2px #006300;
        }
        .point .box-innslag .beskrivelse {
            margin-top: 20px;
        }
        .alle-deltakere-div {
            padding-top: 35px;
            display: flex;
        }
        .sm-size-icon {
            display: none;
        }

        @keyframes blinker {
            50% {
                opacity: .3;
            }
        }

        .button-live-style {
            /* margin-top: 15px; */
        }
        .button-live-style a {
            padding: 4px 8px;
            border-radius: 5px;
        }
        .button-live-style a:hover {
            cursor: pointer;
            background: linear-gradient(45deg, hsl(var(--color-primary-blue-800, var(--color-primary-orange-900))), hsl(var(--color-primary-blue-600, var(--color-primary-orange-900)))) !important;
            color: #fff;
        }
        .button-live-style a:hover svg {
            fill: #fff !important;
        }
        .button-live-style .icon {
            margin-right: 5px;
            vertical-align: text-bottom;
        }
        .innslag-navn {
            margin-top: 20px;
            font-size: 18px;
        }
        .innslag-navn:nth-child(1) {
            margin-top: 0;
        }
        
        .point:nth-child(odd) .box-innslag .timeline-point {
            left: auto;
            right: -44px;
        }
        .vis-alle-deltakere {
            background: #fff;
            color: #00004B !important;
            margin: auto;
            width: 50px;
            transition: .2s !important;
            padding: 10px;
            border: none;
            display: flex;
            border: solid 1px #00004B;
        }
        .vis-alle-deltakere .icon-chevron {
            margin: auto;
            padding: 0 !important;
        }
        .vis-alle-deltakere.collapsed .icon-chevron svg {
            transform: rotate(180deg);
        }
        .vis-alle-deltakere:hover .icon-chevron svg {
            fill: #fff !important;
        }
        
        .point .box-innslag .time {
            position: absolute;
            right: -260px;
            top: 12px;
            width: 200px;
            color: #fff;
        }
        .point:nth-child(even) .box-innslag .time {
            right: auto;
            left: -260px;
            text-align: right;
        }
        .deltakere {
            margin: 0;
            margin-top: 30px;
        }
        .deltakere .deltaker {
            padding-left: 20px;
            font-size: 14px;
        }
        .deltakere .deltaker span {
            vertical-align: middle;
        }
        .deltakere .wshop-href {
            display: block;
            margin-top: 20px;
            border: solid 2px transparent;
            padding: 2px;
            transition: .1s;
        }
        .deltakere .wshop-href:hover {
            border-color: #00004B;
            transition: .1s;
        }
        .innslag-type {
            padding: 5px 10px;
            width: 100%;
            background: #fff;
            color: #00004B;
            border-radius: 10px;
        }
        .alle-innslag {
            list-style-type: disc;
            padding-left: 25px;
        }
        .sted-btn {
            height: 0;
            visibility: hidden;
            transition: .5s height;
        }
        .sted-btn.collapsed {
            height: auto;
            visibility: visible;
            transition: .5s height;
        }
        .sted-btn:hover {
            cursor: pointer;
        }

        @media (max-width: 720px) {
            .point .box-innslag .title {
                font-size: 17px;
                margin-top: 10px;
            }
            .point .box-innslag .beskrivelse {
                font-size: 14px;
            }
            .innslag-navn {
                font-size: 13px;
            }
            .deltakere .deltaker {
                padding-left: 5px;
                font-size: 11px;
            }
            .deltakere .deltaker .sm-size-icon {
                display: inline;
            }
            .deltakere .deltaker .icon {
                display: none;
            }

        }
        
        @media (max-width: 540px) {
            .point .box-innslag {
                padding: 20px 10px;
            }
            .point .box-innslag .title {
                font-size: 15px;
                margin-top: 5px;
            }
            .point .box-innslag .beskrivelse {
                font-size: 12px;
            }
            .point:nth-child(odd) {
                padding-right: 15px;
            }
            .point:nth-child(even) {
                padding-left: 15px;
            }
            .point .box-innslag .timeline-point {
                height: 17px;
                width: 17px;
                top: 14px;
            }
            .point .box-innslag .sted {
                margin-bottom: 0;
            }
            .point:nth-child(odd) .box-innslag .timeline-point {
                right: -25px;
            }
            .point .box-innslag .timeline-point {
                left: -25px;
            }
            .point:nth-child(odd) .box-innslag::after {
                margin-right: -8px;
            }
            .point:nth-child(even) .box-innslag::after {
                left: -8px;
                top: 12px;
            }
            .point .box-innslag .timeline-point.now .blinking {
                margin: 1px;
            }
            .point .box-innslag .time {
                right: -240px;
                font-size: 12px;
            }
            .point:nth-child(even) .box-innslag .time {
                left: -240px;
            }
            .button-live-style {
                font-size: 14px !important;
                margin: 7px 0 !important;
            }

        }
        

    </style>
    
    <script>
        let searchParams = new URLSearchParams(window.location.search);

        if(jQuery(".timeline-point.now").length > 0 && searchParams.get('withoutScroll') != 'true') {
            jQuery([document.documentElement, document.body]).animate({
                scrollTop: jQuery(".timeline-point.now").offset().top - 200 
            }, 1000);
        }
        else if(searchParams.get('withoutScroll') != 'true') {

            var tidligere = jQuery('.point .box-innslag.tidligere');
            if(tidligere.length > 0) {
                jQuery([document.documentElement, document.body]).animate({
                    scrollTop: jQuery(tidligere[tidligere.length-1]).offset().top + 100 
                }, 1000);
            }
        }
        
        addParam('withoutScroll', 'false');

        setTimeout(() => {
            addParam('withoutScroll', 'true');
            location.reload();            
        }, 1000 * 60 * 3); // 3 minutter


        // add param, update param
        function addParam(name, value) {
            const params = new URLSearchParams(window.location.search);
            params.set(name, value);
            window.history.replaceState({}, "", decodeURIComponent(`${window.location.pathname}?${params}`));
        }
    </script>
{% endblock %}
