{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block javascripts %}
	{{ parent() }}
	<script src="//assets.{{ UKM_HOSTNAME }}/js/page/program.js" ></script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>{{ page.getTitle()|raw }}</h1>
				{{ page.content|raw }}
			</div>
		</div>
		
		<div class="row vertical-align-center program">
			{% for dag in program %}
				<div class="col mt-4 dag">
					<h3 class="mb-3">{{ dag.date|dato('l j.M')|capitalize }}</h3>
					{% embed "Arrangement/Program/Hendelser.html.twig"|UKMpath with {'hendelser': dag.forestillinger} %}{% endembed %}
				</div>
			{% else %}
				<div class="col-12">
					<p>
						Det er ikke satt opp noe program enda.
					</p>
					<p>
						<a href="{{ arrangement.getLink() }}">Tilbake til {{ arrangement.getNavn() }}</a>
					</p>
				</div>
			{% endfor %}
			<div class="col-12">
				<p class="my-4">
					<a href="{{ arrangement.getLink() }}">Tilbake til {{ arrangement.getNavn() }}</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}

