<div class="container news-section">
    <div class="row">
        <div class="mt-5 mb-3 col d-flex justify-content-center">
            <span class="undertitler undertitler-news">Nyheter fra UKM Norge</span>
        </div>
    </div> 
    <div class="row">
        <div class="col-12 col-md-6 col-xl-6 mb-3">
            {% set main_post = posts.getAll()|first %}
            <pre>{{ dump(main_post )}}</pre>
            <a href="{{post.getUrl()}}">
                <div class="ukm-card ukm-card-front ukm-card-front-main">
                    <div class="row card-element card-element-end">
                        {% if main_post.image.medium.src is not defined %}
                            <img class="card-image" src="//assets.{{ UKM_HOSTNAME }}/img/bilde.png" />
                        {% else %}
                            <div class="card-image" style="background: url('{{ main_post.getFeaturedImage().getUrl() }}') no-repeat center/cover;"></div>
                        {% endif %}
                    </div>
                    <div class="row card-element" style="padding: 0 1rem .2rem 1rem;">
                        <span class="message-category" style="padding-right: 3rem; padding-bottom: .3rem;">{{ post.getCategories() }}</span>
                        <span class="message-title-end">{{ main_post.getTitle() }}</span>
                        <p class="message-content-end text-truncate">{{ main_post.lead }}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <div class="row">
                {% for post in posts.getAll()|slice(1, 3) %}
                <a class="col-12" href="{{post.getUrl()}}">
                    <div class="ukm-card ukm-card-front col-12">
                        <div class="row card-element card-element-end mb-4">
                            <div class="col-xs-1 d-flex flex-wrap align-items-center">
                                <div class="card-image-small" style="background: url('{{ post.getFeaturedImage().getUrl() }}') no-repeat center/cover;"> </div>
                            </div>
                            <div class="col pr-1">
                                <span class="message-category">{{ post.getCategories() }}</span>
                                <span class="message-title-end">{{ post.getTitle() }}</span>
                                <p class="message-content-end text-truncate" style="width: 12rem;">{{ post.lead }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center mt-2">
            <a href="//liker.{{UKM_HOSTNAME}}" class="ukm-button ukm-button-plain">
                <span>Les flere nyheter</span>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(228, 96%, 67%)">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
</div>