<div class="pk container project-section mb-5" data-category="pk">
	<div class="row">
		<div class="mt-5 mb-3 col d-flex justify-content-center">
			<span class="undertitler undertitler-news">Metodikk</span>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<a class="" href="{{main_post.getUrl()}}">
				<div class="row card-element card-element-end p-0">
					<img class="card-image" src="//assets.{{ UKM_HOSTNAME }}/img/bilde.png"/>
				</div>
				<div class="row card-element d-flex flex-wrap align-items-center card-news" style="padding: 0 1rem .2rem 1rem;">
					<span class="message-title-end">{{ main_post.getTitle() }}</span>
					<p class="message-content-end text-truncate">{{ main_post.lead }}</p>
				</div>
			</a>
		</div>
		<div class="col-12">
			<div class="row">
				<a class="col-12" href="https://bak.ukm.no/metodikk/medvirkning/">
					<div class="card-component row card-element px-0">
						<div class="col">
							<h5 class="message-title">Medvirkning</h5>
							<span class="message-content">Norgescupen er UKM sin e-sportsatsing for bredden, og ikke for eliten. Vi ønsker å få med oss flest mulig som synes det er moro å spille på lag… <b style="color:hsl(var(--color-primary-orange-500))">Les mer</b></span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			<a class="" href="{{main_post.getUrl()}}">
				<div class="row card-element card-element-end p-0">
					<img class="card-image" src="//assets.{{ UKM_HOSTNAME }}/img/bilde.png"/>
				</div>
				<div class="row card-element d-flex flex-wrap align-items-center card-news" style="padding: 0 1rem .2rem 1rem;">
					<span class="message-title-end">{{ main_post.getTitle() }}</span>
					<p class="message-content-end text-truncate">{{ main_post.lead }}</p>
				</div>
			</a>
		</div>
		<div class="col-12">
			<div class="row">
				<a class="col-12" href="https://bak.ukm.no/metodikk/lokal-forankring/">
					<div class="card-component row card-element px-0">
						<div class="col">
							<h5 class=" message-title">Lokal forankring</h5>
							<span class="message-content">Norgescupen er UKM sin e-sportsatsing for bredden, og ikke for eliten. Vi ønsker å få med oss flest mulig som synes det er moro å spille på lag… <b style="color:hsl(var(--color-primary-orange-500))">Les mer</b></span>
						</div>
					</div>
				</a>

			</div>
		</div>
	</div>
</div>
