{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}


    <style>
		.pageListItem.icon > .pageListItemContent {
			margin-left: 4rem;
		}
		.pageListItem.icon .pageListItemIcon {
			margin-left: -3.6rem;
			margin-top: 0.1rem;
			font-size: 2rem;
			float: left;
		}
		.pageListItem .pageListItemHeader {
			font-weight: bold;
			font-size: 18px;
		}
		.list-group-item {
			display: inline-table;
		}
		.pageListItem div {
			font-size: initial;
		}
	</style>

    {# HEADER #}
    <div class="container festival-section mt-4">
        <div class="row deltaker-publikum-main">
            <div class="col-12 col-xs-10">
                <h1 class="festival-header-title hero-text">Velkommen til Trondheim {{ arrangement.getStart()|date('d.') }}- {{ arrangement.getStop()|date('d.M') }}</h1>
            </div>
            <div class="col-12 col-sm-10">
                <p class="lead">Vi gleder oss enormt til å ta imot deg!</p>
            </div>
        </div>
    </div>


    {% if page_topp %}
        {# Mobile devices #}
        {# TOPPMENY #}    
        <div class="container d-block d-lg-none mb-5">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="ukm-card ukm-card-front">
                        {% for section in page_topp.getPageBlocks.getAll() %}
                            {% include "TestOrganisasjonen/Components/Card-element.html.twig" with { link: section.redirectLenke, img: '', title: section.getTitle(), content: section.getContent(), extra: 'pt-4'} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {# Desktop #}
        <div class="container card-info-section d-none d-lg-block">
            <div class="row" style="height: 25.5rem;">
                {# <div class="col-10 offset-1"> #}
                <div class="col-12">
                    <div class="row">
                        {% for section in page_topp.getPageBlocks.getAll() %}
                            {% include "TestOrganisasjonen/Components/Card-element-desktop.html.twig" with { link: section.redirectLenke, img: '', title: section.getTitle(), content: section.getContent(), extra: 'pt-4'} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if page_deltakere  %}
        {# FESTIVALEN FOR DELTAKERE§ #}
        <div class="container festival-section mt-4">
            <div class="row deltaker-publikum-main">
		    	<div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                    <h2>{{ page_deltakere.getTitle() }}</h2>
                </div>
                <div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                    {{ page_deltakere.getContent()|raw }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                    <ol class="list-group pageList">
                        {% for section in page_deltakere.getPageBlocks().getAll() %}
                            {% embed ("UKMDesign/PageBlock/"~ section.getTemplate() ~".html.twig")|UKMpath with{ block: section } %}{% endembed %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    {% endif %}

    {% if page_dette_er  %}
        {# FESTIVALEN FOR DELTAKERE§ #}
        <div class="container festival-section mt-4">
            <div class="row deltaker-publikum-main">
		    	<div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                    <h2>{{ page_dette_er.getTitle() }}</h2>
                </div>
		    	<div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                    {{ page_dette_er.getContent()|raw }}
                </div>
            </div>
        </div>

        {# Mobile devices #}
        {# TOPPMENY #}    
        <div class="container d-block d-lg-none mb-5">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="ukm-card ukm-card-front">
                        {% for section in page_dette_er.getPageBlocks.getAll() %}
                            {% include "TestOrganisasjonen/Components/Card-element.html.twig" with { link: section.redirectLenke, img: '', title: section.getTitle(), content: section.getContent(), extra: 'pt-4'} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {# Desktop #}
        <div class="container card-info-section d-none d-lg-block">
            <div class="row" style="height: 25.5rem;">
                {# <div class="col-10 offset-1"> #}
                <div class="col-12">
                    <div class="row">
                        {% for section in page_dette_er.getPageBlocks.getAll() %}
                            {% include "TestOrganisasjonen/Components/Card-element-desktop.html.twig" with { link: section.redirectLenke, img: '', title: section.getTitle(), content: section.getContent(), extra: 'pt-4'} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container festival-section mt-4">
        <div class="row deltaker-publikum-main">
            <div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                <h2>Fortsatt nysgjerrig?</h2>
                <p>Her kan du se festival-filmen fra i fjor</p>
                <div style="padding-bottom:36.25%; position:relative; display:block; width: 80%; margin-left: auto; margin-right: auto;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mZaM-GQ1kVQ?rel=0&showinfo=0&modestbranding=1&hd=1&autohide=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute; top:0; left: 0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container festival-section mt-4">
        <div class="row deltaker-publikum-main">
            <div class="col-12 col-md-10 ml-auto mr-auto col-lg-8">
                <h2>Spørsmål?</h2>
                <p><a href="/kontaktinfo-festival/">Ta kontakt med oss</a></p>
            </div>
        </div>
    </div>

{% endblock %}