{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}

<div id="videoSide1" class="video-background active">
    <div class="video-overlay"></div>
    <video autoplay muted loop id="myVideo">
    {# <source src="//assets.{{ UKM_HOSTNAME }}/videos/festivalen/01_Videobakgrunn_landingsside.mov" type="video/mp4"> #}
    </video>
</div>
<div id="videoSide2" class="video-background ">
    <div class="video-overlay"></div>
    <video autoplay muted loop id="myVideo">
    {# <source src="//assets.{{ UKM_HOSTNAME }}/videos/festivalen/02_Videobakgrunn_landingsside.mp4" type="video/mp4"> #}
    </video>
</div>

<div id="etterFestivalenContainer" class="container">
    {# side 1 #}
    <div id="sideFestivalenInfo" class="row etter-festivalen-side med-background">
        <div class="background-title background-text">
            <h5 class="upwards-title">Tilbakeblikk på</h5>
            <h1 class="title">UKM-festivalen 2023</h1>
        </div>
        <div class="background-beskrivelse background-text">
            <p>Den nasjonale UKM-festivalen ble avholdt i Trondheim 23.-27. juni, og for en fest det ble! Ungdom fra hele Norge deltok med sitt kulturuttrykk. Vi sitter igjen med mange fine minner, erfaringer og nye vennskap; her kan du ta en titt!</p>
        </div>

        <div class="ukm-sangen background-title background-text">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1Z1UOZoTMUm9UYaF30P4cj?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
    </div>

     {# side 2 #}
    <div id="sideDeltakere" class="row etter-festivalen-side med-background">
        <div class="background-title background-text">
            <h1 class="title">Deltakere</h1>
        </div>
        <div class="background-beskrivelse background-text">
            <p>UKM-festivalen er et pulserende samlingsted for unge fra ulike deler av landet. Med over 500 deltakere er festivalen et livlig og mangfoldig fellesskap som feirer ungdommens kreativitet, lidenskap og unike uttrykk.</p>
        </div>

        <div id="totalDeltakere" class="container">
            <div class="total-deltakere col-12">
                <div class="farge-space row">
                    <div class="col-3 info-text">
                        <h1 class="hoved">300+</h1>
                        <p class="under">deltakere på scene</p>
                    </div>
                    <div class="col-3 info-text">
                        <h1 class="hoved">9 timer</h1>
                        <p class="under">direktesending</p>
                    </div>
                    <div class="col-3 info-text">
                        <h1 class="hoved">600+</h1>
                        <p class="under">deltakere på workshops</p>
                    </div>
                    <div class="col-3 info-text">
                        <h1 class="hoved">70+</h1>
                        <p class="under">deltakere på kunstgalleri</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid without-video">
    <div class="container">
        
        {# side 3 #}
        <div id="sideRedaksjonensSaker" class="row etter-festivalen-side without-background">
            <div class="background-title">
                <h1 class="title">Redaksjonens saker</h1>
            </div>
        
            <div id="nyheterIFestivalen" class="container">
                <div class="news-section col-12 mt-4">
                    <div class="row d-flex justify-content-center">
                    {% for post in posts.getAll() %}
                        {% set riktigCat = false %}
                        {% for cat in post.categories %}
                            {% if cat.slug == 'pa-forsiden' %}
                                {% set riktigCat = true %}
                            {% endif %}
                        {% endfor %}
                        {% if riktigCat %}
                        <div class="col-12 d-flex justify-content-center d-block d-lg-none mt-4">
                            <span class="undertitler undertitler-news">{{ post.date|dato('j. M Y') }}</span>
                        </div>
                        <div class="col-12 col-md-8 col-xl-6 mb-5">
                            {% embed "Post:Grid-default.html.twig"|UKMpath with { post: post } %}{% endembed %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {# Side 4 #}
        <div id="sideForestillinger" class="row etter-festivalen-side without-background">
            <div class="background-title">
                <h1 class="title">UKM Studio</h1>
            </div>

            {# Lørdag #}
            <div class="div-with-day first col-12">
                <div class="day">
                    <h5 class="day-title">Lørdag - 24.06.2023</h5>
                    <div class="points">
                        <div class="point"></div>
                        <div class="point"></div>
                        <div class="point"></div>
                    </div>
                </div>
                <div class="first-usual-box">
                    <div class="film">
                        <div style="position: relative; padding-top: 56.25%;">
                            <a href="https://customer-554chiv4hi7wraol.cloudflarestream.com/9def2ffd1e6b7cffc94f7769b64a5e61/watch/">
                                <div class="film-img-holder"></div>
                            </a>
                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/9def2ffd1e6b7cffc94f7769b64a5e61/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                        </div>
                    </div>
                    <div class="film">
                        <div style="position: relative; padding-top: 56.25%;">
                            <a href="https://customer-554chiv4hi7wraol.cloudflarestream.com/6ccfc59c76e05dc2956dc33ec2421f54/watch/">
                                <div class="film-img-holder"></div>
                            </a>
                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/6ccfc59c76e05dc2956dc33ec2421f54/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                        </div>
                    </div>
                </div>
            </div>

            {# søndag #}
            <div class="div-with-day col-12">
                <div class="day">
                    <h5 class="day-title">Søndag - 25.06.2023</h5>
                    <div class="points">
                        <div class="point"></div>
                        <div class="point"></div>
                        <div class="point"></div>
                    </div>
                </div>
                <div class="first-usual-box">
                    <div class="film">
                        <div style="position: relative; padding-top: 56.25%;">
                            <a href="https://customer-554chiv4hi7wraol.cloudflarestream.com/37962a2b6de910886dc1ed756b1d3af3/watch/">
                                <div class="film-img-holder"></div>
                            </a>
                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/37962a2b6de910886dc1ed756b1d3af3/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                        </div>
                    </div>
                    <div class="film">
                        <div style="position: relative; padding-top: 56.25%;">
                            <a href="https://customer-554chiv4hi7wraol.cloudflarestream.com/c2abfeae7f8b591511a704ecb1ad5793/watch/">
                                <div class="film-img-holder"></div>
                            </a>
                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/c2abfeae7f8b591511a704ecb1ad5793/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                        </div>
                    </div>
                </div>
            </div>

            {# mandag #}
            <div class="div-with-day col-12">
                <div class="day">
                    <h5 class="day-title">Mandag - 26.06.2023</h5>
                    <div class="points">
                        <div class="point"></div>
                        <div class="point"></div>
                        <div class="point"></div>
                    </div>
                </div>
                <div class="first-usual-box">
                    <div class="film">
                        <div style="position: relative; padding-top: 56.25%;">
                            <a href="https://customer-554chiv4hi7wraol.cloudflarestream.com/b9c01d3da550f6f7d4a5354c92704e13/watch/">
                                <div class="film-img-holder"></div>
                            </a>
                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/b9c01d3da550f6f7d4a5354c92704e13/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                        </div>
                    </div>
                    <div class="film">
                        <div style="position: relative; padding-top: 56.25%;">
                            <a href="https://customer-554chiv4hi7wraol.cloudflarestream.com/9223f8f0f87f030ada96f0205ec4a112/watch/">
                                <div class="film-img-holder"></div>
                            </a>
                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/9223f8f0f87f030ada96f0205ec4a112/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                        </div>
                    </div>
                </div>
            </div>          
        </div>


        {# Side 5 #}
        <div id="sidePaaScene" class="row etter-festivalen-side without-background">
            <div class="background-title">
                <h1 class="title">På scene</h1>
            </div>

            {# alle innslag #}
            <div class="alle-paa-scene">
                {% for hendelse in hendelserMedSending %}
                    <div class="row activity-timeline bold-line">
                        <div class="point-only"></div>
                        <div class="left-side-item">{{ hendelse.getNavn() }}</div>
                        <div class="col-12 inner">
                            <div class="innslags-div first-usual-box">
                                {% set innslags = hendelse.getInnslag().getAll() %}
                                {% set firstInnslag = innslags[0] %}
                                    {# START first innslag #}
                                    <div class="innslag-div">
                                        <div class="films">
                                            {% for film in firstInnslag.getFilmer().getAll() %}
                                                <div class="innslag-film">
                                                    <a href="{{ film.getUrl() }}">
                                                        <div style="position: relative;">
                                                            <img src="{{ film.getThumbnail() }}" />
                                                            {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/{{ film.getCloudflareId() }}/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="info">
                                            <h5 class="innslag-title">{{ firstInnslag.getNavn() }}</h5>
                                            <p class="innslag-beskrivelse">{{ firstInnslag.getBeskrivelse() }}</p>
                                            <div class="personer">
                                                {% for person in firstInnslag.getPersoner().getAll() %}
                                                    <div class="person">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                                                        <p class="navn">{{ person.getNavn() }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {# END first innslag #}

                                <div class="alle-innslag-collapse collapse" id="collapse{{ hendelse.getId() }}">
                                
                                    {% for innslag in innslags|slice(1, length) %}
                                        <div class="innslag-div">
                                            <div class="films">
                                                {% for film in innslag.getFilmer().getAll() %}
                                                    <div class="innslag-film">
                                                        <a href="{{ film.getUrl() }}">
                                                            <div style="position: relative;">
                                                                <img src="{{ film.getThumbnail() }}" />
                                                                {# <iframe src="https://customer-554chiv4hi7wraol.cloudflarestream.com/{{ film.getCloudflareId() }}/watch/iframe" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>\ #}
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="info">
                                                <h5 class="innslag-title">{{ innslag.getNavn() }}</h5>
                                                <p class="innslag-beskrivelse">{{ innslag.getBeskrivelse() }}</p>
                                                <div class="personer">
                                                    {% for person in innslag.getPersoner().getAll() %}
                                                        <div class="person">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                                                            <p class="navn">{{ person.getNavn() }}</p>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                {# show all #}
                                <div class="buttons">
                                    <button class="empty-style-btn collapsed w-shop-hover" type="button" data-toggle="collapse" data-target="#collapse{{ hendelse.getId() }}" aria-expanded="false" aria-controls="collapse{{ hendelse.getId() }}">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #75797d; transform: ;msFilter:;"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
                                        </span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="buttons div-with-day">
                <a type="button" href="/festivalen/pameldte/" class="standard-btn btn-large d-flex justify-content-between btn-blue mt-2">
                    <span>Søk etter deltaker</span>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(216, 33%, 97%)">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                </a>
                <a type="button" href="mailto:support@ukm.no" class="minified empty-style standard-btn btn-large d-flex justify-content-between btn-blue mt-2">
                    <span>Kontakt UKM</span>
                </a>
            </div>
        </div>

        {# side 6 - Workshops #}
        <div id="sideWorkshop" class="row etter-festivalen-side without-background bilde-side">
            <div class="background-title">
                <h1 class="title">Workshops</h1>
                <p>
                    Workshopene har omfattet et bredt spekter av emner og aktiviteter for å imøtekomme alles interesser.
                    Deltakerne har hatt muligheten til å delta i alt fra kreative verksteder hvor de har utforsket ulike kunstformer og materialer, til mer interaktive sesjoner der de har lært nye dansestiler.
                </p>
            </div>

            <div class="bilder-div col-12">
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="https://ukm.no/festivalen/files/2023/06/Aggressive-Broderier-Mina-Lekang-Eiterjord-1007-1.jpg" />
                    </div>
                    <h4 class="img-title">Aggressive Broderier - Mina Lekang Eiterjord</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Bårebuketten-Salomon-Spikkeland-9137-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Bårebuketten - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Bårebuketten-Salomon-Spikkeland-9176-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Bårebuketten - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Dansworkshop-Saleon-Spikkeland-2-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Dansworkshop - Saleon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Digital-kunst-Salomon-Spikkeland-9180-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Digital kunst - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJ-Ursula-Julie-Johnsen-0031-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula - Julie Johnsen</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJ-Ursula-Julie-Johnsen-1034-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula - Julie Johnsen</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJ-Ursula-Sandra-Victoria-Eriksson-0033-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula - Sandra Victoria Eriksson</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJ-Ursula-Sandra-Victoria-Eriksson-0051-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula - Sandra Victoria Eriksson</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Figurtegning-Salomon-Spikkeland-9214-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Figurtegning - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Hekling-Mina-Lekang-Eiterjord-0147-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Hekling - Mina Lekang Eiterjord</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Improteater-Andrea-Pihl-3-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Improteater - Andrea Pihl</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Jakkeworkshop-Camilla-Angelina-Ostojić-2-1-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Jakkeworkshop - Camilla Angelina Ostojić</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Musikal-Andrea-Pihl-8275-1-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Musikal - Andrea Pihl</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Punch-needle-Jacqueline-Balavonie-0012-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Punch needle - Jacqueline Balavonie</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Punch-needle-Mina-Lekang-Eiterjord-0072-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Punch needle - Mina Lekang Eiterjord</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Quilling-Camilla-Angelina-Ostojić-5306-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Quilling - Camilla Angelina Ostojić</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Selvportrett-Gabriela-Navarro-0138-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Selvportrett - Gabriela Navarro</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Trommeworkshop-Salomon-Spikkeland-9666-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Trommeworkshop - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Trondertunband-Camilla-Angelina-Ostojić-5389-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Trøndertunband - Camilla Angelina Ostojić</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Vogue-Salomon-Spikkeland-044-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Vogue - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Vrengpedal-Bjorn-Nikolas-Rognså-2-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Vrengpedal - Bjørn Nikolas Rognså</h4>
                </div>
            </div>
        </div>



        {# side 6 - Gamezone #}
        <div id="sideGamezone" class="row etter-festivalen-side without-background bilde-side">
            <div class="background-title">
                <h1 class="title">Gamezone</h1>
                <p>GameZone er et lavterskel område med bare god stemning, hvor alle kan møte opp uansett hvilken erfaring du har til digital kultur.</p>
            </div>

            <div class="bilder-div col-12">
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Jacqueline-Balavoine-0402-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Jacqueline Balavoine</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Jacqueline-Balavoine-0412-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Jacqueline Balavoine</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Jacqueline-Balavoine-0422-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Jacqueline Balavoine</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Jacqueline-Balavoine-0437-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Jacqueline Balavoine</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Jacqueline-Balavoine-0465-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Jacqueline Balavoine</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Salomon-Spikkeland-6-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Salomon Spikkeland</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Gamezone-Salomon-Spikkeland-8-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Gamezone - Salomon Spikkeland</h4>
                </div>
                
            </div>
        </div>


        {# side 6 - Cinemateket #}
        <div id="sideCinemateket" class="row etter-festivalen-side without-background bilde-side">
            <div class="background-title">
                <h1 class="title">Cinemateket</h1>
                <p>Cinemateket er en liten kinosal med plass til 45 personer. Under festivalen har Cinemateket vektlagt mangfoldet i UKM, derfor finner vi alt fra rene gamingaktiviteter til foredrag om å klare seg som kunstner, tradisjonell filmvisning og quiz der fylkene konkurrerer mot hverandre.</p>
            </div>

            <div class="bilder-div col-12">
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/IMG_3050-Enhanced-NR-CInemateket_BjornNikolasRognså-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Cinemateket - Bjørn Nikolas Rognså</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/IMG_3056-Enhanced-NR-CInemateket_BjornNikolasRognså-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Cinemateket - Bjørn Nikolas Rognså</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/IMG_3060-Enhanced-NR-CInemateket_BjornNikolasRognså-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Cinemateket - Bjørn Nikolas Rognså</h4>
                </div>                
            </div>
        </div>


        {# side 6 - Redesign #}
        <div id="sideCinemateket" class="row etter-festivalen-side without-background bilde-side">
            <div class="background-title">
                <h1 class="title">Redesign</h1>
                <p>
                    Under denne festivalen fikk deltakerne en unik mulighet til å utforske kreativitet og bærekraft på redesignområdet.
                    Ved hjelp av gjenbruksklær og kreativitet, ble gamle plagg transformert til trendy og unike moteuttrykk.
                </p>
            </div>

            <div class="bilder-div col-12">

                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Aggressive-Broderier-Mina-Lekang-Eiterjord-0990-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Aggressive Broderier - Mina Lekang Eiterjord</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Aggressive-Broderier-Mina-Lekang-Eiterjord-0993-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Aggressive Broderier - Mina Lekang Eiterjord</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Jakkeworkshop-Camilla-Angelina-Ostojić-2-2-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Jakkeworkshop - Camilla Angelina Ostojić</h4>
                </div>                
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Norges-Husflidslag-Astrid-K.-Djupvik-8472-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Norges Husflidslag - Astrid K. Djupvik</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Norges-Husflidslag-Bjorn-Nikolas-Rognså-3453-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Norges Husflidslag - Bjørn Nikolas Rognså</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Redesign-Bjorn-Nikolas-Rognså-2662-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Redesign - Bjørn Nikolas Rognså</h4>
                </div>   
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Redesign-Bjorn-Nikolas-Rognså-2683-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Redesign - Bjørn Nikolas Rognså</h4>
                </div>   
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Redesign-Bjorn-Nikolas-Rognså-2691-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Redesign - Bjørn Nikolas Rognså</h4>
                </div>   

            </div>
        </div>


        {# side - Klubbkveld #}
        <div id="sideCinemateket" class="row etter-festivalen-side without-background bilde-side">
            <div class="background-title">
                <h1 class="title">Klubbkveld</h1>
                <p>Kvelden var fylt med pulserende rytmer, glitrende lys og en atmosfære som får alle til å danse. En av høydepunktene på denne aktiviteten var den talentfulle DJ-en Ursulla</p>
            </div>

            <div class="bilder-div col-12">

                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJUrsulaKlubbkveld-Jasmine-Furuseth-1955-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula Klubbkveld - Jasmine Furuseth</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJUrsulaKlubbkveld-Jasmine-Furuseth-1978-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula Klubbkveld - Jasmine Furuseth</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJUrsulaKlubbkveld-Jasmine-Furuseth-2014-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula Klubbkveld - Jasmine Furuseth</h4>
                </div>                
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJUrsulaKlubbkveld-Julie-Johnsen-1457-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula Klubbkveld - Julie Johnsen</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJUrsulaKlubbkveld-Julie-Johnsen-1541-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula Klubbkveld - Julie Johnsen</h4>
                </div>
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/DJUrsulaKlubbkveld-Julie-Johnsen-1625-scaled.jpg" />
                    </div>
                    <h4 class="img-title">DJ Ursula Klubbkveld - Julie Johnsen</h4>
                </div>   
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Klubbkveld-Andrea-Pihl-8379-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Klubbkveld - Andrea Pihl</h4>
                </div>   
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Klubbkveld-Andrea-Pihl-8450-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Klubbkveld - Andrea Pihl</h4>
                </div>   
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Klubbkveld-Astrid-K.-Djupvik-1485-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Klubbkveld - Astrid K. Djupvik</h4>
                </div>   
                <div class="col-8 img-outer first-usual-box">
                    <div class="img-div">
                        <img src="http://ukm.no/festivalen/files/2023/06/Klubbkveld-Julie-Johnsen-0174-scaled.jpg" />
                    </div>
                    <h4 class="img-title">Klubbkveld - Julie Johnsen</h4>
                </div>   

            </div>
        </div>


    </div>
</div>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}
.video-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(45deg, #fff0563b, #ff128b14, #ff128b14, #ff128b14, #ff128b14, #ff128b14, #ff128b14, #ff128b14, #fff0562b);
    top: 0px;
    bottom: 0;
    width: 100%;
    transition: 2s !important;
}
#videoSide2 .video-overlay {
    background: linear-gradient(45deg, #ffff0021, #c8e27f00, #d8467c6e, #42427745);
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.video-background.active {
    visibility: visible;
}
.video-background {
    visibility: collapse;
}
.film-img-holder {
    background: #ff000063;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}




#etterFestivalenContainer {
    padding: 0;
    padding-top: 300px;
}
.background-title {
    width: 100%;
    margin-bottom: 50px;
}
.background-title.background-text {
    margin-top: 0;
    width: 100%;
    background: #000;
    color: #fff;
    margin-bottom: 180px;
    text-align: center;
}
.background-title .upwards-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.background-title .title {
    margin: 0 !important;
    text-align: center;
    font-size: 60px;
}
.bilde-side .background-title p {
    text-align: center;
}
.background-beskrivelse {
    max-width: 900px;
    margin: auto;
}
.background-beskrivelse p {
    text-align: center
    padding: 0;
    margin: 0;
}
.background-text {
    padding: 15px;
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 0px 68px -16px #000000;
}
.etter-festivalen-side.med-background {
    padding-top: 700px;
}
.video-background.changing .video-overlay {
    background: #bbbbbbfa !important;
    transition: 1s;
}
.container-fluid.without-video {
    margin-top: 200px;
    background: #fff;
    position: absolute;
    z-index: 5;
    padding-bottom: 500px;
}
.ukm-sangen {
    z-index: 5;
    width: auto !important;
    margin: auto;
    margin-top: 180px !important;
    padding: 5px;
}

#totalDeltakere {
    padding: 0;
    margin: 0;
    margin-top: 180px;
    margin-bottom: 350px;
}
.total-deltakere .farge-space {
    width: 100%;
    padding: 0;
    background: linear-gradient(45deg, #fff056, #ff128b, #ff128b, #ff128b, #ff128b, #ff128b, #ff128b, #ff128b, #fff056);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 13px 1px #0000007a;
    margin: 0;
}
.total-deltakere .farge-space * {
    color: #fff;
}   
.total-deltakere .farge-space .info-text {
    display: grid;
    padding: 0;
    text-align: center;
    border-right: solid 1px;
    border-color: #ffffff73;
}
.total-deltakere .farge-space .info-text:last-child {
    border-right: none;
}
.total-deltakere .farge-space .info-text .hoved,
.total-deltakere .farge-space .info-text .under {
    margin: 0;
}
.total-deltakere .farge-space .info-text .hoved {
    font-size: 40px;
}
.etter-festivalen-side.without-background {
    margin-top: 200px;
}
.div-with-day:not(.first) {
    margin-top: 100px;
}
.div-with-day.buttons {
    width: 100%;
    display: block;
    width: 320px;
    margin: auto;
    margin-top: 50px;
}
.div-with-day.buttons a {
    margin: auto;
}
.div-with-day.buttons a.minified {
    font-size: 14px;
    padding: 6px 27px;
    width: 162px;
    margin-top: 25px !important;
}
.div-with-day .day {
    display: grid;
}
.div-with-day .day .points {
    margin: 10px auto;
}
.div-with-day .day .points .point {
    width: 10px;
    height: 10px;
    border: solid 3px #000000a1;
    border-radius: 50%;
    margin-bottom: 5px;
    background: #ffffff;
}
.div-with-day .day .day-title {
    text-align: center;
    margin: 0;
}
.first-usual-box {
    display: flex;
    max-width: 800px;
    border: solid 1px #f1f1f1;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(90, 122, 252, 0.11);
    border-radius: 0.9375rem;
}
.activity-timeline.bold-line {
    border-left: solid 3px #cfd8e0;
}
.activity-timeline.bold-line .point-only {
    left: -9px;
}

.first-usual-box .film {
    width: 50%;
}
.first-usual-box .film div,
.innslag-film {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px -1px #00000061;
}
.first-usual-box .film:first-child {
    padding-right: 10px;
}
.first-usual-box .film:nth-child(2) {
    padding-left: 10px;
}
.first-usual-box.innslags-div {
    display: block;
    min-width: 670px;
    padding: 20px 30px;
    margin-bottom: 110px;
}
.innslag-div {
    display: flex;
    margin-bottom: 50px;
}
.innslag-div .films {
    width: 350px;
}
.innslag-div .info  {
    padding-left: 20px;
    margin-bottom: 20px;
}
.innslag-div .info .innslag-title {
    margin: 0;
}
.innslag-div .info .innslag-beskrivelse {
    margin: 0;
    font-size: 11px;
    margin-bottom: 10px;
}
.innslag-div .info .personer .person {
    display: flex;
}
.innslag-div .info .personer .person .navn {
    font-size: 12px;
    margin-bottom: 5px;
}
.empty-style-btn {
    background: #fff;
    box-shadow: 0px 0px 13px 2px #f2fff9;
    padding: 4px;
    color: #6f807e8f;
    padding: 5px 20px;
    border: solid 2px #cfd8e0;
    border-radius: 5px;
}
.innslags-div .buttons {
    display: flex;
}
.innslags-div .buttons button {
    margin: auto;
}
.w-shop-hover:hover {
    background: #75797d;
    border-color: #75797d;
    color: #fff;
}
.w-shop-hover:hover span svg {
    fill: #fff !important;
    color: #fff !important;
}
.innslags-div .buttons button span svg {
    transform: rotate(180deg);
    transition: .2s transform;
}
.innslags-div .buttons button.collapsed span svg {
    transform: rotate(0deg);
    transition: .2s transform;
}
.alle-paa-scene {
    margin: auto;
}
.activity-timeline .inner {
    padding-left: 45px;
}
.activity-timeline .left-side-item {
    width: 100%;
    text-align: right;
    left: -125px;
    max-width: 100px;
}
.etter-festivalen-side.without-background.bilde-side .bilder-div .img-outer {
    margin: auto;
    margin-bottom: 30px;
    display: block;
}
.etter-festivalen-side.without-background.bilde-side .bilder-div .img-outer .img-title {
    margin-top: 25px;
    text-align: center;
}
#UKMDesign_content {
    visibility: hidden;
}


@media (max-width: 991px) {
    .first-usual-box.innslags-div {
        min-width: 65vw;
    }

    .total-deltakere .farge-space .info-text .under {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .activity-timeline {
        margin-left: 25px;
    }
    .first-usual-box.innslags-div {
        padding: 15px;
    }
    .activity-timeline .inner {
        padding-left: 25px;
    }
    .innslag-div .films {
        width: 40vw;
    }
    .total-deltakere .farge-space .info-text .hoved {
        font-size: 29px;
    }
}
@media (max-width: 600px) {
    .div-with-day {
        padding-left: 0;
        padding-right: 0;
    }
    .first-usual-box {
        padding: 15px;
    }
    .activity-timeline .left-side-item {
        left: -77px;
        max-width: 64px;
    }
    .background-title .title {
        font-size: 40px;
    }
    #etterFestivalenContainer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .first-usual-box {
        display: block;
    }
    .first-usual-box .film {
        width: 100%;
        padding: 0 !important;
    }
    .first-usual-box .film:first-child {
        margin-bottom: 20px;
    }
    .total-deltakere .farge-space {
        padding: 15px 10px;
    }
    .total-deltakere {
        padding: 0 !important;
    }
}
@media (max-width: 500px) {
    .innslag-div .info {
        padding-left: 10px;
    }
    .activity-timeline .left-side-item {
        left: -94px;
        top: 18px;
        font-size: 11px;
    }
    .activity-timeline .left-side-item {
        max-width: 80px;
    }
    .activity-timeline .inner {
        padding-left: 15px;
    }
    .activity-timeline {
        margin-left: 95px;
    }
    .innslag-div .info .innslag-title {
        font-size: 15px;
    }
    .container-fluid.without-video {
        padding: 0;
    }
    .background-title .title {
        font-size: 35px;
    }
    .innslag-div {
        display: block;
    }
    .innslag-div .info {
        padding-left: 0;
        margin-top: 10px;
    }
    .innslag-div .films {
        width: 100%;
    }
    .total-deltakere .farge-space .info-text .hoved {
        font-size: 25px;
    }
}
@media (max-width: 420px) {
    .first-usual-box.innslags-div {
        min-width: 62vw;
    }
    .alle-paa-scene {
        width: 100%;
    }
    .first-usual-box.innslags-div {
        min-width: 100%;
    }
    .total-deltakere .farge-space .info-text .hoved {
        font-size: 20px;
    }
    .total-deltakere .farge-space .info-text .under {
        font-size: 11px;
    }
    .total-deltakere .farge-space {
        padding: 15px 5px;
    }
}



footer.footer {
    display: none;
    visibility: hidden;
}
</style>


<script>
jQuery(document).scroll(function() {
    video1 = jQuery('#videoSide1');
    video2 = jQuery('#videoSide2');
    var t1 = 0;
    var t2 = 0;


    // Ingen av div videoene er på viewport
    if(!jQuery('#sideDeltakere').isInViewport() && !jQuery('#sideFestivalenInfo').isInViewport()) {
        video1.removeClass('active');
        video2.removeClass('active');
        
    }
    else if(jQuery('#sideDeltakere').isInViewport()) {
        if(!video2.hasClass('active')) {
            changingVideo();
            clearTimeout(t1);
            t1 = setTimeout(() => {
                video2.addClass('active');
                video1.removeClass('active');
            }, 1000);
        }
    }   
    else if(!video1.hasClass('active')) {
        changingVideo();
        clearTimeout(t2);
        t2 = setTimeout(() => {
            video1.addClass('active');
            video2.removeClass('active');
        }, 1000);
    }

    

});

var timeout = 0;
function changingVideo() {
    jQuery('#videoSide1').addClass('changing')
    jQuery('#videoSide2').addClass('changing')
    
    clearTimeout(timeout);
    var timeout = setTimeout(() => {
        jQuery('#videoSide1').removeClass('changing')
        jQuery('#videoSide2').removeClass('changing')
    }, 1000)
}


jQuery.fn.isInViewport = function() {
    var elementTop = jQuery(this).offset().top;
    var elementBottom = elementTop + jQuery(this).outerHeight();

    var viewportTop = jQuery(window).scrollTop();
    var viewportBottom = viewportTop + jQuery(window).height()-500;

    return elementBottom > viewportTop && elementTop < viewportBottom;
};


</script>


{% endblock %}