{% extends "Norge/Front/Base-redo.html.twig"|UKMpath %}

{% block css %}
    {{parent()}}
	<style>
		.social {
			font-size: 2em;
            margin-top: 0vh;
            margin-bottom: 5.5vh;
		}
		.social .icon:before {
			color: #fff;
        }

        .icon.icon-location-pin-dot:before {
            color: #fff;
        }

        html a,
        html a:active, 
        html a:hover, 
        html a:visited,
        html a:focus {
            color: #fff;
            font-weight: bold !important;
            text-decoration: none;
        }

        html .icon-location-pin-dot:before {
            color: #00004c;
        }
        
        #derdubor {
            background: #ff128b;
            border-color: #00004c;
            border-top: 2px solid;
            border-bottom: 2px solid;
            box-shadow: 5px 4px 19px -15px #00004c;
        }

        html li.list-group-item a {
            color: #00004c;
        }

        #slogan {
            text-align: center;
            line-height: 1.4em; 
            color: #fff;
            opacity: 1;
            margin-top: 2vh;
            margin-bottom: 3vh;
            padding-top: 6vh;
            padding-bottom: 6vh;
        }

        @media (min-width: 576px) {
            #derdubor {
                 border: 2px solid;
            }
        }

        @media (min-width: 768px) {
            #slogan {
                font-size: 1.3em;
                margin-top: 3vh;
            }
        }
        @media (min-width: 992px) {
            #slogan {
                font-size: 1.4em;
                margin-top: 4vh;
            }
        }
        @media (min-width: 1200px) {
            #slogan {
                font-size: 2em;
                margin-top: 4vh;
                margin-bottom: 4vh;
            }
        }
	</style>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="/wp-content/plugins/UKMresources/js/twig.js"></script>
    <script>
        // Inntil derdubor er lastet inn, la hele boksen være klikkbar
        jQuery(document).on('click touchend', '#derduborcontainer', function(){
            if( jQuery(this).hasClass('click') ) {
                jQuery('.geolocation').trigger('click');
                jQuery(this).removeClass('click');
            }
        });
        jQuery(document).on('click touchend', '.geolocation', function() {
            jQuery('#derdubor').html( twigJS_GeolocationFrontLoading.render());
        });
        jQuery(document).on('geolocate-fail', function(e){
            jQuery('#derdubor').html(twigJS_GeolocationFrontFail.render(e));
        });
        jQuery(document).on('geolocated', function(e, locationdata){
            jQuery(document).trigger('fetchLocalizedInfo', [locationdata.kommunenummer, locationdata.fylkesnummer, locationdata.kommunenavn]);
        });
    
        jQuery(document).on('fetchLocalizedInfo', function(e, kommunenummer, fylkesnummer, kommunenavn){
            jQuery('#derdubor').html(twigJS_GeolocationFrontLoading.render({kommunenavn: kommunenavn}));
            jQuery.get(
                ajaxurl,
                {
                    action: 'UKMDesignWordpress',
                    ajaxaction: 'home',
                    fylke: fylkesnummer,
                    kommune: kommunenummer
                }
            ).done(function(response) {
                jQuery('#derdubor').html(twigJS_GeolocationFront.render(response));
                if( response.kommune && response.kommune.arrangementer.length > 0 ) {
                    jQuery('#kommune_arrangementer').html(
                        twigJS_GeolocationFrontArrangement.render(
                            {
                                arrangementer: response.kommune.arrangementer,
                                nettsted_url: response.kommune.url
                            }
                        )
                    );
                }
                if( response.fylke && response.fylke.arrangementer.length > 0 ) {
                    jQuery('#fylke_arrangementer').html(
                        twigJS_GeolocationFrontArrangement.render(
                            {
                                arrangementer: response.fylke.arrangementer,
                                nettsted_url: response.fylke.url
                            }
                        )
                    );
                }
            }
            ).fail(function() {
                jQuery('#derdubor').html(twigJS_GeolocationFrontFailInternal.render());
            });
        });

        {% if last_location is defined %}
            jQuery(document).ready(function(){
                jQuery(document).trigger(
                    'fetchLocalizedInfo',
                    [
                        {{last_location.kommunenummer}},
                        {{last_location.fylkesnummer}},
                        '{{last_location.kommunenavn}}'
                    ]
                )
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
	<div class="container" style="min-height: 50vh;">
        <div class="row">
            <div class="offset-1 col-10">
                <p class="semibold" id="slogan">
                    Vis frem noe du brenner for, prøv noe helt nytt eller bli med så andre får vist sin beste side.
                    Sammen skaper vi noe nytt, inspirerer, lærer av hverandre og har det gøy.
                </p>
            </div>
        </div>

        <div class="row social">
            <div class="col"></div>
            <div class="col center">
                <a href="https://instagram.com/ukmnorge" target="_blank">
                    <span class="icon icon-logo-instagram"></span>
                </a>
            </div>
            <div class="col center">
                <a href="https://facebook.com/ukmnorge" target="_blank">
                    <span class="icon icon-logo-facebook"></span>
                </a>
            </div>
            <div class="col center">
                <a href="https://tiktok.com/@ukmnorge" target="_blank">
                    <span class="icon icon-logo-tiktok"></span>
                </a>
            </div>
            <div class="col"></div>
        </div>

        <div class="row pt-lg-3 mt-4">
            <div class="col-12 mb-5 offset-lg-1 col-lg-5 offset-xl-2 col-xl-4 center p-0 p-sm-2 p-lg-3 click" id="derduborcontainer">
                <div class="p-3 mt-lg-1" id="derdubor">
                    <a href="#" class="geolocation semibold" style="opacity: .8">
                        Vis arrangementer nær deg
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-5 col-xl-4px-5 p-sm-2 p-lg-3">
                <p class="mt-0" style="line-height: 1.4em">
                    <b>UKM OG KORONA</b>
                    <br />
                    40 lokalmønstringer, alle fylkesfestivalene og den nasjonale UKM-festivalen er avlyst.
                    Når samfunnet åpner opp igjen, gleder vi oss til å lage fysiske møteplasser, 
                    og fortsette utviklingen av digitale prosjekter.
                </p>

                <p>
                    Takk for at du er med oss, og ta vare på hverandre!
                </p>

                <p>
                    <a href="/korona/">Les mer</a>
                </p>
            </div>
        </div>
	</div>
{% endblock %}
