{% extends "Norge/Front/Base-redo.html.twig"|UKMpath %}

{% block css %}
    {{parent()}}
	<style>
		.social {
			font-size: 2em;
		}
		.social .icon:before {
			color: #00004c;
        }

        html .icon-location-pin-dot:before {
            color: #00004c;
        }
        
        #UKMderdubor {
            background: rgba(0, 0, 76, 0.06);
            border-color: #00004c;
            border-top: 2px solid;
            border-bottom: 2px solid;
            box-shadow: 5px 4px 19px -15px #00004c;
        }
	</style>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script src="/wp-content/plugins/UKMresources/js/twig.js"></script>
    <script>
        jQuery(document).on('click', '.geolocation', function() {
            jQuery('#derdubor').html( twigJS_GeolocationFrontLoading.render());
        });
        jQuery(document).on('geolocate-fail', function(e){
            jQuery('#derdubor').html(twigJS_GeolocationFrontFail.render(e));
        });
        jQuery(document).on('geolocated', function(e, locationdata){
            jQuery(document).trigger('fetchLocalizedInfo', [locationdata.kommunenummer, locationdata.fylkesnummer, locationdata.kommunenavn]);
        });
    
        jQuery(document).on('fetchLocalizedInfo', function(e, kommunenummer, fylkesnummer, kommunenavn){
            jQuery('#derdubor').html(twigJS_GeolocationFrontLoading.render({kommunenavn: kommunenavn}));
            jQuery.get(
                ajaxurl,
                {
                    action: 'UKMDesignWordpress',
                    ajaxaction: 'home',
                    fylke: fylkesnummer,
                    kommune: kommunenummer
                }
            ).done(function(response) {
                jQuery('#derdubor').html(twigJS_GeolocationFront.render(response));
                if( response.kommune.arrangementer.length > 0 ) {
                    jQuery('#kommune_arrangementer').html(
                        twigJS_GeolocationFrontArrangement.render(
                            {
                                arrangementer: response.kommune.arrangementer,
                                nettsted_url: response.kommune.url
                            }
                        )
                    );
                }
                if( response.fylke.arrangementer.length > 0 ) {
                    jQuery('#fylke_arrangementer').html(
                        twigJS_GeolocationFrontArrangement.render(
                            {
                                arrangementer: response.fylke.arrangementer,
                                nettsted_url: response.fylke.url
                            }
                        )
                    );
                }
            }
            ).fail(function() {
                jQuery('#derdubor').html(twigJS_GeolocationFrontFailInternal.render());
            });
        });

        {% if last_location is defined %}
            jQuery(document).ready(function(){
                jQuery(document).trigger(
                    'fetchLocalizedInfo',
                    [
                        {{last_location.kommunenummer}},
                        {{last_location.fylkesnummer}},
                        '{{last_location.kommunenavn}}'
                    ]
                )
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
	<div class="container" style="min-height: 80vh;">
		<div class="row" style="margin-top: -3vh;">
			<div class="offset-1 col-10">
				<p class="center" style="line-height: 1.4em; color: #00004c; opacity: 1; ">
					Vis frem noe du brenner for, prøv noe helt nytt eller bli med så andre får vist sin beste side.
                    Sammen skaper vi noe nytt, inspirerer, lærer av hverandre og har det gøy.
				</p>
			</div>
		</div>

		<div class="row mt-4 social">
			<div class="col"></div>
			<div class="col">
				<a href="https://instagram.com/ukmnorge" target="_blank">
					<span class="icon icon-logo-instagram"></span>
				</a>
			</div>
			<div class="col">
				<a href="https://facebook.com/ukmnorge" target="_blank">
					<span class="icon icon-logo-facebook"></span>
				</a>
			</div>
			<div class="col">
				<a href="https://tiktok.com/@ukmnorge" target="_blank">
					<span class="icon icon-logo-tiktok"></span>
				</a>
			</div>
			<div class="col"></div>
		</div>


        <div class="row mt-5 py-3" id="UKMderdubor">
            <div class="col-2">
                <div class="icon icon-location-pin-dot geolocation" style="font-size: 2.4em;"></div>
            </div>
            <div class="col pb-0" id="derdubor">
                <a href="#" class="geolocation semibold" style="opacity: .8">Trykk her for å finne info om UKM der du bor</a>
            </div>
        </div>

    
        <div class="row mt-3">
            <div class="col">
                <p style="line-height: 1.4em">
                    <p>
                        <b>KORONA-UKM:</b>
                        <br />
                        Vi har startet flere nettbaserte prosjekter, da også UKM måtte avlyse mye på grunn av korona. 
                        Over 40 lokalmønstringer, alle 19 fylkesfestivalene og den nasjonale UKM-festivalen er avlyst.
                        <a href="/korona/">Les mer</a>
                    </p>

                    <p>
                        Vi har allerede gjennomført 
                        <a href="koronapaske.no" class="semibold" target="_blank">koronapåske.no</a>, lansert <a href="kunstikarantene.no" class="semibold" target="_blank">kunstikarantene.no</a>,
                        og har flere utstillinger og live-konsepter like rundt hjørnet.
                    </p>
                    <p>
                        Når samfunnet åpner opp igjen vil vi også lage fysiske møteplasser og starte forberedelsene til et heidundrende UKM-år i 2021.     
                    </p>

                    <p>
                        Takk for at du er med oss!
                    </p>
				</p>
            </div>
        </div>
	</div>
{% endblock %}
