<div class="card-component col-4 d-flex justify-content-between flex-column">
    <img src="//assets.{{ UKM_HOSTNAME }}/img/{{ img|raw }}" />
    <h5>{{ title }}</h5>
    <span>{{ content }}</span>
    <a href="{{ link }}" type="button" class="ukm-button ukm-button-front ukm-button-secondary" style="padding: 0 !important; height: auto;">
        <span>Les mer</span>
        {% include "UKMDesign/SVG/ChevronBlue.html.twig"%}
    </a>
</div>