<li class="some-item list-group-item">
	<a href="{{ link }}" aria-label="{{ name }}">
		<div class="img-carousel {{ img }}"></div>
		<span class="dot"></span>
		<span class="dot dot-grey">
			<span class="dot svg-dot svg-dot-card {{ extra }}">
				<svg class="icon-some" xmlns="http://www.w3.org/2000/svg" {{ svgsize|raw }} style="fill:rgba(0, 0, 0, 1);">
                    {{ svgpath|raw }}
				</svg>
			</span>
		</span>
	</a>
</li>
