<div id="finnKommune">
	<div class="input-group">
		<input type="text" name="search" class="form-control" placeholder="Søk etter {{ omrade.getFylke().erOslo() ? 'bydel' : 'kommune'}}..." id="filterKommune">
		{% if not omrade.getFylke().erOslo() %}
            <div class="input-group-append">
                <button class="btn btn-outline-primary geolocation" type="button" id="list-locate"><i class="icon icon-target2"></i></button>
            </div>
        {% endif %}
	</div>
    <div class="mt-2 text-muted small" id="couldnotfindlocation" style="display:none;">Beklager, vi fant ikke posisjonen din</div>
    <div class="mt-2 text-muted small " id="found-none" style="display:none;">Beklager, finner ingen {{ omrade.getFylke().erOslo() ? 'bydeler' : 'kommuner'}} med det navnet.</div>
    <div class="mb-3"></div> {# spacer #}

	<div class="content">
		<div class="row" style="max-height: 24vh; overflow-y:scroll;">
			{% for kommune in omrade.getFylke().getKommuner().getAll() %}
				<div class="col-12 col-sm-6 col-xl-4 mb-2 kommune" data-filter="{% include "UKMDesign/Kommune/Filternavn.html.twig"|UKMpath %}">
					<a href="{{ kommune.getLink() }}" data-kommune="{{kommune.getId()}}" class="btn btn-block btn-outline-primary" style="line-height: 1.25em;">
						<div class="autoshrink">
							{{ kommune.getNavn() }}
						</div>
						{# {% if kommune.getTidligere()|length > 0 %}
							<div class="autoshrink">
								<small>Tidligere
									{% for tidligere in kommune.getTidligere() %}
										{{ tidligere.getNavn() }}{{ not loop.last ? ', ' }}
									{% endfor %}
								</small>
							</div>
						{% endif %} #}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>