{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
    {% if innslag %}
        <div class="container">
            {% if innslag.getBilder().getAntall() > 1 %}
                    <div class="{{ col_right }}">

                    <div id="imageslider{{ innslag.getId() }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        {% for bilde in innslag.getBilder().getAll() %}
                            
                                <div class="carousel-item {% if loop.first %} active {% endif %} ">
                                    <a href="{{ bilde.getSize("original").getUrl()|replace({'http:':'https:'}) }}" target="_blank">
                                        <img src="{{ bilde.getSize("medium").getUrl()|replace({'http:':'https:'}) }}" class="img-carousel d-block w-100"/>
                                    </a>
                                </div>
                        {% endfor %}
                        <a class="carousel-control-prev" href="#imageslider{{ innslag.getId() }}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#imageslider{{ innslag.getId() }}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if innslag.getBilder().getAntall() == 1 %}
                <div class="{{ col_right }}">
                    <center>
                        {% for bilde in innslag.getBilder().getAll() %}
                            <a href="{{ bilde.getSize("original").getUrl()|replace({'http:':'https:'}) }}" target="_blank">
                                <img src="{{ bilde.getSize("medium").getUrl()|replace({'http:':'https:'}) }}" class="mt-2" />
                            </a>
                        {% endfor %}
                    </center>
                </div>
            {% endif %}
        </div>
            

        <div class="container">
		<div class="row">
			<div class="col article-div">
				<article>
					{# Category, title and breadtext #}
					<div class="info-text-section mt-3">
						<h1 class="article-header">{{ post.getTitle()|raw }}</h1>
						<p class="info-text-lead mt-4"></p>
						{% if post.hasFeaturedFilm() == true %}
						<div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">

								<div class="col-2 share-buttons justify-content-around d-none d-lg-flex">
									{% include "Post/Share.html.twig" %}
								</div>
						</div>
						{% endif %}
						{# Has content and not a video #}
                        {% if post.content_wo_lead|raw == "" %}
                            <p class="beskrivelse">
                                {{ innslag.getBeskrivelse() }}
                            </p>
                        {% endif %}
						{% if post.content_wo_lead|raw != "" %}
							<div class="row">
								
							{% endif %}
							<div class="col-md-9 col-xl-9">
								<p class="bread-text">{{ post.content_wo_lead|raw }}</p>
							</div>
						</div>
					</div>
					{# Video under header for prettier layout imo #}
					{% if post.hasFeaturedFilm()%}
						{% if post.content_wo_lead|raw == "" %}
							{% include "Page/TopImage.html.twig" %}
						{% endif %}
					{% endif %}
				</article>
			</div>
		</div>
	</div>
    {% else %}
        <h4>
            Ugyldig lenke!
        </h4>
    {% endif %}
    
    {% block stylesheets %}
        <style>
            .carousel-item a {
                display: flex;
            }
            .carousel-item a .img-carousel {
                max-height: 450px;
                min-height: auto;
                width: auto !important;
                margin: auto;
                margin-bottom: 0;
                height: 100%;
                overflow: hidden;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .carousel.slide {
                height: 400px !important;
                overflow: hidden !important;
                display: flex;
            }
            .col.article-div {
                margin-top: 3px !important;
                background: #fff;
                box-shadow: 0px -10px 15px 9px #ffffff;
            }
            .info-text-section.mt-3 {
                margin-top: 0 !important;
                padding-top: 0;
            }
            .carousel-inner {
                margin: auto;
                margin-bottom: 0;
                display: flex;
                height: 100%;
            }
            .carousel-item {
                margin-top: auto !important;
                margin-bottom: 0 !important;
            }
            .article-header {
                text-align: center;
            }

            @media(max-width: 768px) {
                .carousel.slide {
                    height: 350px !important;
                }
                .carousel-item a .img-carousel {
                    max-height: 350px;
                }
            }
        </style>
    {% endblock %}
{% endblock %}
