<div class="row-flex flex-row">
	<div class="event-container card">
		<div class="event-box">
			<div class="float-left overunder mr-3" style="align-self: center; border-right: solid 2px #A0AEC0; padding-right: 16px;">
				<div class="over" style="font-size: .7em;">
					{{ arrangement.getStart()|dato('D')|upper }}
				</div>
				<div class="under" style="font-size:1.4em;">
					{{ arrangement.getStart()|dato('d')}}
				</div>
				<div class="under" style="font-size: .7em; margin-top: 0.2em; white-space: nowrap;">
					{{ arrangement.getStart()|dato('M')|upper }}
					{{ arrangement.getStart()|dato('Y')|upper }}
				</div>
			</div>
			<span style="align-self: center; margin-right: 10px;">
				<a class="stretched-link" style="text-decoration: underline;" href="{{ arrangement.getLink() }}">{{ arrangement.getNavn()}}</a>
				<p class="event-lead">
					{% if arrangement.harKart() and arrangement.getKart().getName() %}
						{{ arrangement.getKart().getName() }}
					{% else %}
						{{ arrangement.getSted() }}
					{% endif %}
				</p>
			</span>
			{% if not arrangement.erFerdig() %}
				{% if arrangement.harPamelding() and (arrangement.erPameldingApen(1) or arrangement.erPameldingApen(2)) %}
					{% if arrangement.erFellesmonstring() %}
						<a href="{{ arrangement.getLink() }}" target="_blank" class="btn btn-primary btn-paamelding">
							<span>Påmelding</span>
						</a>
					{% else %}
						<a href="//delta.{{ UKM_HOSTNAME }}/ukmid/pamelding/{{ arrangement.getType() == 'fylke' ? 'fylke' : arrangement.getEierKommune().getId() }}-{{ arrangement.getId() }}/" target="_blank" class="btn btn-primary btn-paamelding">
							<span>Påmelding</span>
						</a>
					{% endif %}
				{% else %}
					<a href="{{ arrangement.getLink() }}" target="_blank" class="btn btn-outline-dark btn-paamelding mer-info">
						<span>Mer info</span>
					</a>
				{% endif %}
			{% endif %}
			<svg class="event-button" xmlns="http://www.w3.org/2000/svg" fill="#718096">
				<path fill-rule="evenod d" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
			</svg>
		</div>
	</div>
</div>
