<div class="page-menu">
{% if arrangement.erKunstgalleri() == false %}	
	<div class="row">
		{% if arrangement.harProgram() %}
			<div class="col menu-item">
				<a href="{{ arrangement.getLink() }}program/">
					<div class="icon icon-calendar"></div>
					<div class="text">Program</div>
				</a>
			</div>
		{% endif %}
		{% if arrangement.harFilmer() %}
			<div class="col menu-item">
				<a href="{{ arrangement.getUKMTVLink() }}">
					<div class="icon icon-tv"></div>
					<div class="text">UKM-TV</div>
				</a>
			</div>
		{% endif %}
        {% if arrangement.harBilder() %}
			<div class="col menu-item">
				<a href="{{ arrangement.getLink() }}bilder/">
					<div class="icon icon-stack-picture"></div>
					<div class="text">Bilder</div>
				</a>
			</div>
		{% endif %}
		{% if arrangement.harPameldte() %}
		<div class="col menu-item">
			<a href="{{ arrangement.getLink() }}pameldte/">
                {% if arrangement.getAntallPersoner() is defined %}
                    <div class="badge badge-pill badge-primary pameldte-badge">
                        {{ arrangement.getAntallPersoner() }}
                    </div>
                {% endif %}
				<div class="icon icon-users"></div>
				<div class="text">Påmeldte</div>
			</a>
		</div>
		{% endif %}
	</div>
{% endif %}

	<div class="row">
		<div class="col-12">
			{% if meny is defined and meny|length > 0 %}
				{% for element in meny %}
					<a href="{{ element.url }}" class="btn btn-outline-primary btn-block btn-sm">
						{{ element.title }}
					</a>
				{% endfor %}
			{% endif %}
		</div>

	</div>
</div>