{% if arrangement.harPamelding() and (arrangement.erPameldingApen(1) or arrangement.erPameldingApen(2)) %}
	<div class="mb-4 center">
		{% if arrangement.erFellesmonstring() %}
			<a href="http://delta.{{ UKM_HOSTNAME }}/ukmid/pamelding/" class="btn btn-primary btn-block" id="showKommuner">Start påmelding</a>
			<div id="kommuner" style="display:none">
				<p class="bold">Hvilken
					{{ kommune.getFylke().erOslo() ? 'bydel' : 'kommune'}}
					er du fra?
				</p>
				{% for kommune in arrangement.getKommuner() %}
					<a href="//delta.{{ UKM_HOSTNAME }}/ukmid/pamelding/{{ kommune.getId() }}-{{ arrangement.getId() }}/" target="_blank" class="btn btn-outline-primary btn-block">
						{{ kommune.getNavn() }}
					</a>
				{% endfor %}
			</div>
		{% else %}
			<a href="//delta.{{ UKM_HOSTNAME }}/ukmid/pamelding/{{ arrangement.getEierKommune().getId() }}-{{ arrangement.getId() }}" target="_blank" class="btn btn-block btn-primary">Start påmelding</a>
		{% endif %}
	</div>
	<div class="clearfix"></div>

	<div class="mt-3 mb-1">
		{% include "Arrangement/PameldingFrister.html.twig" %}
	</div>

	<p class="mt-2 mb-4 small">
		Har du startet en påmelding, kan du
		<a href="//delta.{{ UKM_HOSTNAME }}">logge inn og redigere den her</a>
	</p>

	<script type="text/javascript">
		$(document).ready(function () {
$("#showKommuner").click(function (e) {
e.preventDefault();
$(e.target).slideUp(120);
$('#kommuner').slideDown(200);
});
});
	</script>
{% elseif arrangement.harPamelding() and not arrangement.harStartet() and not arrangement.erPameldingApen(1) and not arrangement.erPameldingApen(2) %}
	<b>Nettpåmeldingen er stengt</b>.
								    Hvis du vil melde deg på, eller endre din påmelding, kan du 
								    snakke med
	<a href="{{arrangement.getLink()}}kontaktpersoner/" class="bold">kontaktpersonene</a>.
{% elseif not arrangement.harStartet() %}
	{% include "Husk/Pamelding.html.twig"|UKMpath with {fylkeid: omrade.getFylke().getId() } %}
{% endif %}
