<li class="list-group-item">
	<a href="{{ link }}" aria-label="{{ name }}">
		<img style="height: auto; width: 100%; {{ extra }}" src="//assets.{{ UKM_HOSTNAME }}/img/{{ img }}" alt="{{ name }}">
	</a>
</li>
